[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
_app = {editable = true, path = "."}
boto3 = "~=1.17"
colorama = "*"
fire = "*"
Flask = "~=2.0"
MarkupSafe = "~=2.0"
python-dateutil = "*"
requests = "~=2.25"

[dev-packages]
autopep8 = "*"
mypy = "~=0.812"
pylint = "~=2.7"
pytest = "*"
zappa = "*"

[requires]
python_version = "3.8"

[scripts]
cli = "env AWS_PROFILE=kha-restricted KHA_DATA_S3_BUCKET=kha-store-dev python kha check"
deploy = "zappa deploy prod"
linter = "pylint kha"
server = "env AWS_PROFILE=kha-restricted KHA_DATA_S3_BUCKET=kha-store-dev flask run"
tail = "zappa tail prod"
tests = "pytest"
typecheck = "mypy"
update = "zappa update prod"
update-dev-json = "aws --profile=kha-restricted s3 cp etc/events.kha.json s3://kha-store-dev/events.kha.json"
