body {
    align-items: center;
    background-color: #fff;
    color: #666;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    margin: 3em;
}

nav {
    padding: 0.5em 0;
}

nav li {
    list-style: none;
    float: left;
}

nav li a {
    padding: 0.5em 3em 0.5em 0;
    display: block;
    color: inherit;
}

nav ul {
    -webkit-padding-start: inherit;
    padding-left: 0;
}

h1 {
    font-size: 36pt;
    font-weight: normal;
    line-height: 1.2;
}

h1.us {
    font-size: 14pt;
    font-weight: bold;
}

p {
    margin: 1em 0 0 0;
}

.us {
    font-weight: normal;
    margin-right: 3em;
}

.them {
    color: #17a;
    font-weight: normal;
    margin-left: 3em;
    text-align: right;
}

.bubble {
    width: calc(100% - 3em);
    max-width: 30em;
    line-height: 1.2;
}

.smol.us,
.smol.them {
    font-size: 10pt;
}

.smol.dangling {
    margin-top: -12pt;
}
